body, html {
    position: relative;
    margin: 0;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    width: 100%;
    background: repeating-radial-gradient(red, blue, red);
}

.centrar {
    margin: 0;
    padding: 0;
    display: inline-block;
    height: 100%;
    width: 0;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

.campo {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 90%;
    height: 0;
    margin: 10px auto;
    padding: 0 0 60% 0;
    background: green;
    box-shadow: 20px 20px 10px 10px black;
    border: 2px solid;
    border-radius: 12%;
}

.interior, .divisoria, .semi1, .semi2, .corner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 94%;
    height: 90%;
    margin: auto;
    border: 2px solid #eee;
}

.divisoria:after, .divisoria:before {
    content: "";
    position: absolute;
    left: 50%;
    display: block;
    width: 0;
    height: 100%;
    margin-left: .5px;
    border: 1px solid #eee;
}

.divisoria:before {
    top: 50%;
    width: 16%;
    height: 0;
    margin: -8% 0 0 -8%;
    margin-top: calc(-8% - 4px);
    margin-left: calc(-8% - .5px);
    padding-bottom: 16%;
    border-radius: 50%;
    border: 2px solid #eee;
}

.campo:before, .campo:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 3%;
    margin: -8% 0 0 -2px;
    display: block;
    width: 6%;
    height: 24%;
    border: 2px solid #eee;
    z-index: 2;
}

.campo:after {
    left: auto;
    right: 3%;
    margin-right: -2px;
}

.interior:before, .interior:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    margin: -16% 0 0 -2px;
    display: block;
    width: 16%;
    height: 50%;
    background: green;
    border: 2px solid #eee;
}

.interior:after {
    left: auto;
    right: 0;
    margin: -16% -2px 0 0;
}

.semi1:before, .semi2:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 12%;
    display: block;
    width: 1%;
    height: 1.5%;
    margin: -.75% 0 0 0;
    background: #eee;
    border-radius: 50%;
    z-index: 2;
}

.semi2:before {
    left: auto;
    right: 12%;
}

.semi1:after, .semi2:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 5%;
    width: 16%;
    height: 0;
    margin: -8% 0 0 0;
    padding-bottom: 16%;
    border: 2px solid #eee;
    border-radius: 50%;
}

.semi2:after {
    left: auto;
    right: 5%;
}

.corner {
    overflow: hidden;
}

.corner1:before, .corner2:before, .corner1:after, .corner2:after {
    content: "";
    position: absolute;
    top: -6%;
    left: -4%;
    width: 6%;
    height: 0;
    margin: 0 0 0 0;
    padding-bottom: 6%;
    border: 2px solid #eee;
    border-radius: 50%;
}

.corner1:after {
    left: auto;
    right: -4%;
}

.corner2:before {
    top: auto;
    bottom: -6%;
}

.corner2:after {
    top: auto;
    bottom: -6%;
    left: auto;
    right: -4%;
}

h1.titlePart {
    color: yellow;
    text-shadow: 0 0 20px #fdec84, 10px -10px 30px #ffae35, 20px -20px 40px #ec760c, -20px -60px 50px #cd4607, 0px -80px 60px #973717, 10px -40px 70px #451b0e;
    text-align: center;
}

h3.subTitlePart {
    color: yellow;
    font-family: "Times New Roman", Times, serif;
    font-style: italic;
    text-align: center;
}

div.img {

}

div.img:hover {

}

.topleft {
    position: absolute;
    top: 8px;
    left: 16px;
    font-size: 18px;
    color: yellow;
    font-weight: bold;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 3%;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 18px;
    font-weight: bold;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
}

.GKresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: 28%;
    margin-left: 5%;
}

.LBresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: -32%;
    margin-left: 22%;
}

.LCBresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: 3%;
    margin-left: 22%;
}

.RCBresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: 5%;
    margin-left: 22%;
}

.RBresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: 5%;
    margin-left: 22%;
}

.LMFresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: -50%;
    margin-left: 55%;
}

.LWFresponsive {
    padding: 0 6px;
    width: 12%;
    position: relative;
    z-index: 2;
    box-shadow: 10px 10px 5px 5px black;
    margin-top: -45%;
    margin-left: 80%;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.button {
    background-color: #f44336;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

@media (min-width: 421px ) and ( max-width: 1223px) {
    div.desc {
        padding: 0;
        text-align: center;
        background-color: white;
        color: black;
        font-size: 0.005px;
        font-weight: normal;
    }

    .responsive {
        padding: 0 0px;
        width: 12%;
        position: relative;
        z-index: 2;
        box-shadow: 5px 5px 2.5px 2.5px black;
    }

    div.centrar {
        margin: 0;
        padding: 0;
        display: inline-block;
        height: 80%;
        width: 0;
        margin: 0;
        padding: 0;
        vertical-align: middle;
    }
}

@media (max-width: 420px) {
    .campo {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        width: 90%;
        height: 0;
        margin: 10px auto;
        padding: 0 0 60% 0;
        background: green;
        box-shadow: 5px 5px 5px 5px black;
        border: 2px solid;
        border-radius: 12%;
        -webkit-transform: rotate(270deg);
    }

    .responsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
    }

    .GKresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: 30%;
    }

    .LBresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: -30%;
    }

    .LCBresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: 20%;
    }

    .RCBresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: 8%;
    }

    .RBresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: 6%;
    }

    .LMFresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: -40%;
    }

    .LWFresponsive {
        padding: 0 0px;
        width: 10%;
        position: relative;
        z-index: 2;
        box-shadow: 2px 2px 1px 1px black;
        -webkit-transform: rotate(90deg);
        margin-top: -38%;
    }

    div.desc {
        padding: 0;
        text-align: center;
        background-color: white;
        color: black;
        font-size: 0px;
        font-weight: normal;
    }

    .topleft {
        position: absolute;
        top: 0.1px;
        left: 0.1px;
        font-size: 0.1px;
        color: yellow;
        font-weight: normal;
    }
}

